
/** Card Flip **/
.card {
  background-color: transparent;
  width: 418px;
  height: 300px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.card-inner.flipped {
  transform: rotateY(180deg);
}
.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: .9rem; 
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.card-back {
    transform: rotateY(180deg);
}

/** Card Transformations **/
.card-inner.done {
  filter: grayscale(1);
}
.card-inner.dead {
  filter: sepia() hue-rotate(300deg) opacity(.6);
}

.investigator-thumbnail {
  display: inline-block;
  background-repeat: no-repeat;
  width: 120px;
  height: 55px;
  background-size: 270px 180px;
  background-position: -5px -45px;
}


/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;
